<p id="notice"><%= notice %></p>

<h1>Available  Questions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.name %></td>
       
        <td><%= link_to 'Show', question ,class:"btn btn-info"%></td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path ,class:"btn btn-success" %>
